*{
    background-color: #44253f;
    color: aliceblue;
}
.row{
    padding: 20px;
}
.list-group-item{
    gap: 20px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    flex-flow: wrap;
}